extends web/layout

block css
    include web/layout/css.jade

block javascript
    include web/layout/javascript.jade

block header
   include web/layout/header.jade

block banner
   include web/layout/banner.jade

block content
    include web/layout/content.jade

block footer
  include web/layout/footer.jade
  
