extends layout

block header
  include ./layout/header.jade

block banner
  include ./layout/banner.jade

block content
  div.contain
  h1= title
  p Welcome to #{title}

block footer
  include ./layout/footer.jade
  
