doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/config/config.css')
    link(rel='stylesheet', href='/stylesheets/custom/custom.css')
    link(rel='stylesheet', href='/stylesheets/header/header.css')
    link(rel='stylesheet', href='/stylesheets/banner/banner.css')
    link(rel='stylesheet', href='/stylesheets/footer/footer.css')
  body
    div(class="leveno")
      block header
      block banner
      block content
      block footer
    
