doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/config/config.css')
    link(rel='stylesheet', href='/stylesheets/custom/custom.css')
    link(rel='stylesheet', href='/stylesheets/header/header.css')
    link(rel='stylesheet', href='/stylesheets/banner/banner.css')
    link(rel='stylesheet', href='/stylesheets/content/content.css')
    link(rel='stylesheet', href='/stylesheets/footer/footer.css')
    //轮播图css
    //link(rel='stylesheet' href='/dist/css/swiper.css')
    link(rel='stylesheet' href='/dist/css/swiper.min.css')


    //jQuery
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    //轮播图js
    //http://www.swiper.com.cn/api/autoplay/16.html
    //script(src="/dist/js/swiper.js")
    script(src="/dist/js/swiper.min.js")
    //script(src="/dist/js/swiper.esm.js")
    //script(src="/dist/js/swiper.esm.bundle.js")
    script(src="/javascripts/banner.js")
  body
    div(class="leveno")
      block header
      block banner
      block content
      block footer
    
