block banner
    div.banner
        //div.contain
        //    img.active(src="/images/banner_1.jpg" alt="网站建设")
        //    img(src="/images/banner_2.jpg" alt="网站建设")
        //    img(src="/images/banner_3.jpg" alt="网站建设")
        //    ul.pointer
        //        li(data-index='0')
        //            span.active
        //        li(data-index='1')
        //            span
        //        li(data-index='2')
        //            span
        div.swiper-container
            div.swiper-wrapper
                div.swiper-slide
                    img(src="/images/banner_1.jpg" alt="网站建设")
                div.swiper-slide
                    img(src="/images/banner_2.jpg" alt="网站建设")
                div.swiper-slide
                    img(src="/images/banner_3.jpg" alt="网站建设")
            div.swiper-pagination