extends layout

block css
    include layout/css.jade

block javascript
    include layout/javascript.jade

block header
    include layout/header.jade

block banner
    div.case_banner
        img(src="/images/web/banner/banner_1.jpg" alt="图标1" title="网站建设")


block footer
    include layout/footer.jade