div.content
    //div.contain
    //    ul.box
    //        li.color1
    //            a(href="#")
    //                h3 网站
    //                span 官网建设、论坛、电子商城
    //        li.color2
    //            a(href="#")
    //                h3 公众号
    //                span 微信、支付宝、QQ
    //        li.color3
    //            a(href="#")
    //                h3 小程序
    //                span 微信、支付宝、QQ
    //        div.clear
    div.contain
        ul.box
            li
                img(src="/images/web/content/icon_1.png" alt="图标1" title="美观大方")
                p 美观大方
            li
                img(src="/images/web/content/icon_1.png" alt="图标2" title="美观大方")
                p 价格低廉
            li
                img(src="/images/web/content/icon_1.png" alt="图标3" title="美观大方")
                p 功能齐全
            li
                img(src="/images/web/content/icon_1.png" alt="图标4" title="美观大方")
                p 服务周到
            div.clear
    div.box
        h1 网站建设
        a(href="javascript:void(0)")
            img(src="/images/web/banner/banner_1.jpg" alt="图标1" title="网站建设")
    div.box
        h1 网站建设
        a(href="javascript:void(0)")
            img(src="/images/web/banner/banner_1.jpg" alt="图标1" title="网站建设")
    div.box
        h1 网站建设
        a(href="javascript:void(0)")
            img(src="/images/web/banner/banner_1.jpg" alt="图标1" title="网站建设")