block css
    link(rel='stylesheet', href='/stylesheets/config/config.css')
    link(rel='stylesheet', href='/stylesheets/custom/custom.css')
    link(rel='stylesheet', href='/stylesheets/web/header/header.css')
    link(rel='stylesheet', href='/stylesheets/web/banner/banner.css')
    link(rel='stylesheet', href='/stylesheets/web/content/content.css')
    link(rel='stylesheet', href='/stylesheets/web/footer/footer.css')
    //轮播图css
    //link(rel='stylesheet' href='/dist/css/swiper.css')
    link(rel='stylesheet' href='/dist/css/swiper.min.css')