block header
  div.header
    div.contain
        div.logo
          span 满格
        ul.h_left
          li
            a.active(href="#") 首页
            span
          li
            a(href="/cases") 案例
          li
            a(href="#") 博客
          li
            a(href="#") 简历
    
    