block javascript
    //jQuery
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    //轮播图js
    //http://www.swiper.com.cn/api/autoplay/16.html
    //script(src="/dist/js/swiper.js")
    script(src="/dist/js/swiper.min.js")
    //script(src="/dist/js/swiper.esm.js")
    //script(src="/dist/js/swiper.esm.bundle.js")
    script(src="/javascripts/web/banner.js")